In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('pred2.csv')
# df.head()

In [4]:
df=df[['finl_income','latitude','longitude']]

In [5]:
# df

In [8]:
lati=list(df['latitude'])
longi=list(df['longitude'])

In [7]:
err=list()
pred=list()
for i in range(len(longi)):
    df['calc']=(df['latitude']-lati[i])**2+(df['longitude']-longi[i])**2
    df=df.sort_values('calc')
    # df=df.head(3)
    # print(df)
    inc=list(df['finl_income'])
    inc[0]=inc[0]/2
    inc[1]=inc[1]/3
    inc[2]=inc[2]/6
    res=sum(inc[0:3])
    pred.append(res)
    err.append(abs(res-inc[0]*2)/(inc[0]*2)*100)
# print(sum(err)/len(err))
# dfd=pd.read_csv('pred2.csv')
# print(dfd['finl_income'])
# print(pred)

In [8]:
print(sum(err)/len(err))

5.052086328556721

In [9]:
def knn(latitude=0,longitude=0,place=0):
    df=pd.read_csv('pred2.csv')
    if(place!=0):
        df=df[df['neighbourhood']==place]
        return df['finl_income']
    if(latitude>51.70 or latitude<51.25 or longitude<-0.5 or longitude>0.27):
        return -1
    df=df[['finl_income','latitude','longitude']]
    df['calc']=(df['latitude']-latitude)**2+(df['longitude']-longitude)**2
    # df['calc']=df['calc']+5
    df=df.sort_values('calc')
    # df['calc2']=df['calc']*df['finl_income']
    inc=list(df['finl_income'])
    # inc1=list(df['calc'])
    inc[0]=inc[0]/2
    inc[1]=inc[1]/3
    inc[2]=inc[2]/6
    res=sum(inc[0:3])
    return res

In [10]:
knn(51.54264543624161,0.1120940268456375)

13069.68337722043

In [11]:
knn1(51.50,-0.1)

NameError: name 'knn1' is not defined

In [ ]:
knn(51.75,-0.4)

-1

In [ ]:
knn(51.55,-0.52)

-1

In [ ]:
def invest(amt):
    df=pd.read_csv('returns.csv')
    df1=df[df['Average']<=amt]
    df1=df1[df1['returns']<=30]
    df1=df1.sort_values('returns')
    print(df1[['Borough','Average','returns','total']])

In [ ]:
amt=1000000

In [ ]:
df=pd.read_csv('returns.csv')

In [ ]:
df.head()

,Unnamed: 0,Borough,Average,latitude,longitude,total,finl_income,returns
0,0,Barking and Dagenham,298620,51.542645,0.112094,149.0,13243.682726,22.548109
1,1,Barnet,519611,51.596730,-0.206281,802.0,14739.566877,35.252800
2,2,Bexley,336858,51.471405,0.137298,93.0,12142.052361,27.743086
3,3,Brent,474513,51.545745,-0.233753,1353.0,16150.777887,29.380195
4,4,Bromley,436460,51.401224,0.003821,297.0,14743.770240,29.603012

In [ ]:
invest(500000)

                 Borough  Average    returns   total
24                Newham   363957  20.823054   936.0
10             Greenwich   393062  21.942938   861.0
22              Lewisham   409239  22.521199  1198.0
0   Barking and Dagenham   298620  22.548109   149.0
29         Tower Hamlets   438461  23.405029  4726.0
30        Waltham Forest   430502  24.691130   711.0
27             Southwark   499247  24.704627  2942.0
7                Croydon   365441  24.711842   464.0
17              Hounslow   400906  26.107989   548.0
15              Havering   364778  26.203886    98.0
28                Sutton   371875  26.429458   138.0
2                 Bexley   336858  27.743086    93.0
20  Kingston upon Thames   487195  29.243249   297.0
3                  Brent   474513  29.380195  1353.0
4                Bromley   436460  29.603012   297.0

In [ ]:
knn(place='Newham')

24    17478.560203
Name: finl_income, dtype: float64

In [ ]:
df = df[df['Borough']=='Newham']

In [ ]:
df

,Unnamed: 0,Borough,Average,latitude,longitude,total,finl_income,returns
24,24,Newham,363957,51.527291,0.01904,936.0,17478.560203,20.823054

In [10]:
def knn1(latitude=0,longitude=0,place=0):
    df=pd.read_csv('pred2.csv')
    if(place!=0):
        df=df[df['neighbourhood']==place]
        return df['finl_income']
    if(latitude>51.70 or latitude<51.25 or longitude<-0.5 or longitude>0.27):
        return -1
    df=df[['finl_income','latitude','longitude']]
    df['calc']=(df['latitude']-latitude)**2+(df['longitude']-longitude)**2
    df['calc']=df['calc']+0.00001
    df['calc']=1/df['calc']
    df=df.sort_values('calc')
    df['calc2']=df['calc']*df['finl_income']
    inc=list(df['calc2'])
    inc1=list(df['calc'])
    res=sum(inc[-3:])/sum(inc1[-3:])
    return res

In [3]:
dfd=pd.read_csv('pred2.csv')
actual=list(dfd['finl_income'])
err=list()
err1=list()
for i in range(len(lati)):
    pred=knn2(lati[i],longi[i])
    pred1=knn1(lati[i],longi[i])
    print(actual[i],pred,pred1,sep='\t',end='\n')
    err.append(abs(actual[i]-pred)/actual[i]*100)
    err1.append(abs(actual[i]-pred1)/actual[i]*100)
print(sum(err)/len(err))
print(sum(err1)/len(err1))

NameError: name 'lati' is not defined

In [12]:
import numpy as np

In [9]:
def knn2(latitude=0,longitude=0,place=0):
    df=pd.read_csv('pred2.csv')
    if(place!=0):
        df=df[df['neighbourhood']==place]
        return df['finl_income']
    if(latitude>51.70 or latitude<51.25 or longitude<-0.5 or longitude>0.27):
        return -1
    df=df[['finl_income','latitude','longitude']]
    df['latitude']=np.deg2rad(df['latitude'])
    df['longitude']=np.deg2rad(df['longitude'])
    latitude=latitude*22/(180*7)
    longitude=longitude*22/(180*7)
    df['nlati']=df['latitude']-latitude
    df['nlongi']=df['longitude']-longitude
    df['p1']=np.power(np.sin(df['nlati']/2),2)+np.cos(df['nlati'])*np.cos(df['nlongi'])*np.power(np.sin(df['nlongi']/2),2)
    df['calc']=np.arcsin(np.sqrt(df['p1']))*2
    df['calc']=df['calc']+0.00001
    df['calc']=1/df['calc']
    df=df.sort_values('calc')
    df['calc2']=df['calc']*df['finl_income']
    inc=list(df['calc2'])
    inc1=list(df['calc'])
    res=sum(inc[-3:])/sum(inc1[-3:])
    return res

In [18]:
dfd=pd.read_csv('pred2.csv')
actual=list(dfd['finl_income'])
err=list()
err1=list()
for i in range(len(lati)):
    pred=knn2(lati[i],longi[i])
    # pred1=knn1(lati[i],longi[i])
    # print(actual[i],pred,pred1,sep='\t',end='\n')
    err.append(abs(actual[i]-pred))
    err1.append(abs(((actual[i]-pred)/actual[i])*100))
print(sum(err)/len(err),max(err),min(err),sep='\t')
print(sum(err1)/len(err1),max(err1),min(err1),sep='\t')
# print(sum(err1)/len(err1))

801.1588068643963	2481.3445289756273	30.821113109908765
4.9061021671979095	17.6351165795426	0.15728196026241167

In [14]:
801.1588068643963/12

66.76323390536636

In [19]:
print(err,actual,err1,sep='\n')

[111.55616420755359, 983.3805348449769, 494.30754060409345, 70.22252679243866, 1396.1384019084398, 664.1561835044013, 1572.9707184706494, 1841.756811212239, 317.2700754291527, 1713.469869936389, 127.6798667329931, 653.4553001190798, 104.05344707254335, 1151.4255839328216, 625.3673564133751, 180.83489101920713, 442.85780537518986, 457.2630557149296, 1575.7322912818418, 617.9221802893189, 306.19344186571834, 30.821113109908765, 592.7499662946284, 1013.4561777297058, 886.8312230382944, 728.7486055203553, 2170.949178922172, 803.9567794364702, 2481.3445289756273, 1033.4014161778723, 742.2107455411715, 348.0886848499649, 197.66816020155602]
[13243.682726174497, 14739.566877057356, 12142.052361290322, 16150.77788706578, 14743.77024040404, 19788.52448744892, 19121.92588, 14788.092527586206, 14976.69135928009, 12596.148546325878, 17912.915788850172, 21117.491086670325, 19303.17584469045, 17950.676680140597, 13193.945730653268, 13920.759616326532, 12379.638540522876, 15355.682716058394, 21709.93550801051, 21098.425571406373, 16660.084565656565, 19596.08912458005, 18171.279775292154, 18500.88500031645, 17478.56020320513, 13272.499861754386, 18391.262069440458, 20208.64347518695, 14070.474202898553, 18733.62304947101, 17435.491717299577, 20981.11913811353, 20523.219142461963]
[0.842334919327814, 6.6717057770241714, 4.071037794071611, 0.4347934649554917, 9.469344537684412, 3.356269356644803, 8.22600572945349, 12.454323015470479, 2.1184256777286183, 13.603125301631858, 0.7127810359744278, 3.0943794290579834, 0.5390483302319623, 6.414385398666782, 4.739805431823703, 1.2990303403208008, 3.577308044379178, 2.9778100014839533, 7.258115947421538, 2.9287596754459138, 1.83788648046188, 0.15728196026241167, 3.2620155191303706, 5.477879451239068, 5.073823087989089, 5.490665760866151, 11.804242529551544, 3.978281770488966, 17.6351165795426, 5.516292355455786, 4.2568959773285115, 1.659056805114079, 0.9631440313015329]

In [20]:
print('MAE(Mean Error in calculating the income of that place in a year):',sum(err)/len(err))
print('MAPE(Mean Percentage error in calculating the income of that place in a year):',sum(err1)/len(err1))

MAE(Mean Error in calculating the income of that place in a year): 801.1588068643963
MAPE(Mean Percentage error in calculating the income of that place in a year): 4.9061021671979095